<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors="true"
    bootstrap="Tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Password Hash Encoder Test Suite">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Security/</directory>
        </whitelist>
    </filter>
</phpunit>
